/* Place site styles below!

Happy Coding! */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic|Bree+Serif);



body {
	font-size: 16px;
  font-family: 'Lato', sans-serif;
  padding-top: 70px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bree Serif', serif;
}

.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    background: #fafafa;
    border-bottom: 2px solid #ccc;
    height: 70px;
    width: 100%;
}

.main-nav ul {
  float: right;
  width: auto;
}

.main-nav li {
    float: left;
    width: auto;
}
.main-nav li a {
    padding: 25px 10px;
    display: block;
    text-decoration: none;
    color: #333;
}
.main-nav li a:hover,
.main-nav li a:focus {
    background: #e5e5e5;
}

#brand {
    text-indent: -90000px;
    background: url(../images/cojorado.png) no-repeat top left;
    height: 60px;
    width: 60px;
    float: left;
    margin: 5px;
}


.container {
      width: 100%;
      max-width: 1400px;
      /* margin: 0 auto;  &&& commented out */
      background-color: #fafafa;   /* made background color grey */
  }

/* -------------------------------------- */

#hero {
    background: url(../images/alpinelakes.jpg) no-repeat top left;
    text-align: center;
    color: #fafafa;     /* grey */
    background-size: cover;
    height: 350px;
    padding: 25px 0;
}

#hero img {
    width: 150px;
    border-radius: 50%;
}
#hero h2 {
    font-size: 400%;
    margin: 10px;
    text-shadow: 2px 2px 2px #000;
}
#hero span.city {
    border: 2px solid currentColor;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 10px;
    font-size: 150%;
}

/* -------------------------------------- */
#main-content {
    /* text-align: center;  &&& commented out */
    padding: 25px 0;
    overflow: hidden;
}
#main-content h3 {
    font-size: 300%;
    margin: 20px 0;
    text-align: center;
}
#main-content:after {
    content: ' ';
    clear: both;
}
.column_1 {
    float: left;
    width: 40%;
    padding: 15px;
    border: 1px solid #97A7A7;  /* &&& */
    margin: 0 10px 0 10px;
}

.column_1 img {
    float: left;
    width: 20%;
    max-width: 20%;
    border-radius: 50%;
    border: 2px solid blue;
}
.column_1 h4 {
    color: #1C929A;   /* green */
    font-size: 100%;
    margin-bottom: 15px;
}

.column_2 {
    float: left;
    width: 40%;
    padding: 15px 15px 15px 30px;
    border: 1px solid #97A7A7;  /* &&& */
    margin: 0 10px 0 10px;
}

.column_2 ul {
    padding: 5px 0 20px 30px;
}

.column_2 p {
    padding-right: 100px;
}

.column_2 ul p {
    padding: 5px 100px 5px 20px;
    font-size: 12px;
}

.column_2 a {
    text-decoration: none;
    color: #333;
}

.column_2 a:hover,
.column_2 li a:focus {
    background: #e5e5e5;
}

.column_2 h4 {
    color: #1C929A;   /* green */
    font-size: 150%;
    margin-bottom: 15px;
}

.column_2 h5 {
    color: #1C929A;   /* green */
    font-size: 100%;
}

.column_2 select {
    margin: 5px 0 20px 30px;
}

.hints_display_none {
    display:none;
}

.hints_display_block {
    display:block;
}


.column_3 {
    width: 60%;
    padding: 15px 15px 15px 30px;
    border: 1px solid #97A7A7;  /* &&& */
    margin: 0 auto 0 auto;
}

.column_3 ul {
    padding: 5px 0 20px 30px;
}

.column_3 a {
    text-decoration: none;
    color: #333;
}

.column_3 h4 {
    color: #1C929A;   /* green */
    font-size: 150%;
    margin-bottom: 15px;
}

.column_3 a:hover,
.column_3 li a:focus {
    background: #e5e5e5;
}

.circle_check {
    float: left;
    height: 12px;
    width: 12px;
    background-color: #1C929A;
    border-radius: 50%;
    margin: 0 5px 0 0;
    visibility: show;
}
/* -------------------------------------------- */
.social_container {
      width: 100%;
      max-width: 1400px;
      margin: 0 auto;
}

#social {
    background: #1C929A;   /* green */
    color: #fafafa;        /* grey */
    padding: 25px 0;
    overflow: hidden;
}
#social ul {
    width: 520px;
    margin: 0 auto;
}
#social li {
    float: left;
    width: auto;
    padding: 20px;
}

@media only screen and (max-width : 600px) {
        /* Styles */
        #hero img {
            width: 150px;
            border-radius: 10%;
        }
}

